<div class="container">
  <h2>Upcoming Events</h2>

  <div class="search-container">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Search events</mat-label>
      <input matInput type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterEvents()" />
      <mat-icon matSuffix *ngIf="!searchTerm" class="material-symbols-outlined">search</mat-icon>
      <button matSuffix mat-icon-button *ngIf="searchTerm" aria-label="Clear" (click)="clearSearch()">
        <mat-icon class="material-symbols-outlined">close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="empty-container" *ngIf="!filteredEvents || filteredEvents.length === 0">
    <span>{{searchTerm ? 'No events found.' : 'No events present.'}}</span>
    <button *ngIf="!searchTerm" mat-button routerLink="/events/create" color="primary" class="create-button">
      <mat-icon>add</mat-icon>
      Create
    </button>
  </div>

  <div class="events-list-container" *ngIf="(filteredEvents?.length ?? 0) > 0">
    <mat-card *ngFor="let event of filteredEvents | slice: startIndex : endIndex" class="event-card">
      <mat-card-header>
        <mat-card-title>{{ event.title }}</mat-card-title>
        <mat-card-subtitle>
          <div *ngIf="isSingleDayEvent(event)">
            <div *ngIf="event.allDay">All day</div>
            {{ event.startDate | date }}
            <div *ngIf="!event.allDay">
              <span>from {{event.startDate | date: 'h:mm a'}}</span>
              <span> to {{event.endDate | date: 'h:mm a'}}</span>
            </div>
          </div>
          <div *ngIf="!isSingleDayEvent(event)">
            <div *ngIf="event.allDay">All day</div>
            <span>from {{event.startDate | date: multiDayDateFormat(event)}}</span>
            <span> to {{event.endDate | date: multiDayDateFormat(event)}}</span>
          </div>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="location"><mat-icon class="material-symbols-outlined">location_on</mat-icon> {{ event.location }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="['/events/view', event.id]">
          View Details
        </button>
        <button mat-stroked-button [routerLink]="['/events/edit', event.id]">
          Edit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator [length]="filteredEvents.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"></mat-paginator>
</div>