.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 105px);

  .search-container {
    margin-bottom: 24px;

    .search-field {
      width: 100%;
      max-width: 500px;
    }
  }

  .empty-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 24px;

    .create-button {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .events-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    margin-bottom: 24px;
    overflow: auto;

    .event-card {
      transition: transform 0.2s ease-in-out;
      height: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(171, 199, 255, 0.3);

      &:hover {
        border-color: rgba(171, 199, 255, 0.5);
      }

      .location {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .description {
        margin-top: 12px;
        color: rgba(255, 255, 255, 0.87);
        word-break: break-all;
        overflow-wrap: break-word;
      }

      mat-card-actions {
        display: flex;
        gap: 12px;
        padding: 16px;
      }
    }
  }
}
