<mat-toolbar color="primary" class="app-toolbar">
  <div routerLink="/" class=" brand-container">
    <mat-icon class="material-symbols-outlined event-logo">event_list</mat-icon>
    <span class="brand">Event Manager</span>
  </div>
  <span class="flex-spacer"></span>
  <button mat-button routerLink="/events" color="primary" class="nav-button">
    <mat-icon>event_note</mat-icon>
    Events
  </button>
  <button mat-button routerLink="/events/calendar" color="primary" class="nav-button">
    <mat-icon>calendar_today</mat-icon>
    Calendar
  </button>
  <button mat-flat-button routerLink="/events/create" class="create-button">
    <mat-icon>add</mat-icon>
    Create Event
  </button>
</mat-toolbar>
<router-outlet />