@use "@angular/material" as mat;
@import "./styles/variables.scss";
// @import '@angular/material/prebuilt-themes/azure-blue.css';

html,
body {
  @include mat.theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    )
  );

  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $color-bg-dark;
  color: $color-white;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.mat-mdc-card {
  margin-bottom: 20px;
  background-color: $color-bg-light-dark;
  color: $color-white;
}

.full-width {
  width: 100%;
}

.flex-spacer {
  flex: 1 1 auto;
}

h2 {
  font-weight: 400;
  color: $color-primary;
  margin-bottom: 1.5rem;
}

.mat-mdc-card-title {
  font-size: x-large !important;
  margin-bottom: 1rem !important;
}

.mat-mdc-card-content {
  flex: 1;
}

/* Calendar customization */
.fc {
  background-color: $color-bg-light-dark;
  border-radius: 8px;
  padding: 1rem;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border-color: $color-fc-default;
}

.fc-theme-standard .fc-scrollgrid {
  border-color: $color-fc-default;
}

.fc-day-today {
  background-color: transparent !important;
}

.fc-dayGridMonth-view,
.fc-timeGridWeek-view {
  .fc-day-today {
    background-color: rgba(171, 199, 255, 0.1) !important;
  }
}

.fc-daygrid-day-number {
  color: $color-white;
}

.fc-col-header-cell-cushion {
  color: $color-primary;
}

.fc-listMonth-view {
  border-color: $color-fc-default !important;
}

.fc-list-day-cushion {
  background-color: $color-fc-default !important;
  color: $color-primary;
}

.fc-list-event:hover {
  cursor: pointer;
  background-color: rgba(171, 199, 255, 0.1) !important;

  td {
    background-color: transparent !important;
  }
}

/* Button customization */
.mat-mdc-raised-button.mat-primary {
  background-color: $color-primary;
}

.mat-mdc-button:not(:disabled) {
  color: $color-primary;
}

/* Custom theme overrides */
.mat-mdc-card-header {
  color: $color-primary;
}

.mat-toolbar.mat-primary {
  background: $color-bg-light-dark;
  color: $color-white;
}

.mat-mdc-paginator {
  background: $color-bg-light-dark;
}

.mat-calendar-body-selected {
  background-color: $color-primary;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 0.05);
}
